* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

h1 {
  /* border: 1px solid red; */
  margin-left: 100px;
  color: #1a1a1a;
}

.contenedor-detail {
  /* border: 1px solid #000000; */
  border-radius: 15px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
}
.contenedor-detail img {
  width: 100%;
  height: 650px;
  object-fit: cover; /* otras opciones: contain, fill, none, scale-down */
  border-radius: 15px;
}

.contenedor-detail h2 {
  color: #1a1a1a;
}

.div-boton {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

button {
  height: 40px;
  width: 150px;
  margin-left: 10px;
  /* border: 1px solid black; */
  border: 1px solid #4DE86E;
  border-radius: 10px;
  background-color: #4DE86E;
  color: #1a1a1a;
  font-weight: bold;
}

button:hover {
  color: #000000;
}

.navegador {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.2);
 
}

.logo_imag {
  /* border: 1px solid red; */
  height: 50px;
}

.enlaces a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 20px;
  color: #333 ;
}

.enlaces a:hover {
  color: #1a1a1a;
}

/* ESTILOS PARA LA ANIMACION  */
.sparkle {
  position: absolute;
  animation: sparkle-animation 1.5s ease-out forwards;
  font-size: 24px;
  pointer-events: none;
  z-index: 999;
}

@keyframes sparkle-animation {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px) scale(0.5);
  }
}

#mensaje-exito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #4caf50;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 1000;
  animation: mensajeFade 2s ease-out forwards;
}

@keyframes mensajeFade {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
